@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Rubik:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (padding: max(0px)) {
	body {
		padding-left: min(0vmin, env(safe-area-inset-left));
		padding-right: min(0vmin, env(safe-area-inset-right));
		padding-top: min(0vmin, env(safe-area-inset-top));
		padding-bottom: min(0vmin, env(safe-area-inset-bottom));
	}
}
